* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
canvas {
  width: 100%;
  height: 100%;
}
#checkWebGL,
#checkStatement,
#checkLastPress,
#checkLastRelease,
#fps {
  font-size: 0.925rem;
  position: absolute;
  margin: 0.25em;
  user-select: none;
}
#checkWebGL {
  top: 0.25rem;
}
#checkStatement {
  top: 1.25rem;
}
#checkLastPress {
  top: 2.25rem;
}
#checkLastRelease {
  top: 3.25rem;
}
#fps {
  top: 4.25rem;
}
